@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans&family=Poppins:wght@200&display=swap');
html, body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

.container {
    display: grid;
    grid-template-columns: 0.4fr 1.8fr 0.4fr;

    grid-template-areas: 
    "header header header"
    "menu menu menu"
    "lado_esquerdo main lado_direito"
    "footer footer footer"
    ;
        /* Centro do Site. */
    
}

#menu {
    grid-area: menu;
    list-style: none;
    padding: 0;
    background-color: rgb(73, 73, 252);
    text-align: center;

}

#menuzin li {
    display: inline-block;
}

#menuzin li a{
    display: inline;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5vh;
}

#menuzin li a:hover{
    color: black;
}





header {
    background-color: white;
    grid-area: header;
    margin-top: 3vh;
    text-align: center;

}

header > #Top_icon {
    font-size: 2rem;
    display: inline;
    margin-right: 1vw;
    color: rgb(44, 41, 41);
    --ionicon-stroke-width: 32px;
    cursor: pointer;
    
}

header > #Top_icon > ion-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    
}

ion-icon {
    margin: 32px ;
}





#lado_esquerdo {
    background-color: rgb(247, 232, 232);
    grid-area: lado_esquerdo;
    text-align: center;

}


#lado_direito {
    background-color: rgb(247, 232, 232);
    grid-area: lado_direito;
    text-align: center;

}

#lado_direito button {
    text-align: center;
    margin-top: 15vh;
}






#main {
    grid-area: main;
    display: grid;
    grid-template-columns: 0.6fr 1.8fr 0.6fr;
    grid-template-rows: 25vh 40vh ;
    grid-template-areas: 
    "foto text text "
    "resumo resumo resumo"
    ;
    background-color: rgb(186, 248, 245);
    font-family: Arial, Helvetica, sans-serif;
}

#main > img {
    grid-area: foto;
    padding: 1rem;
}

#main > h2 {
    grid-area: text;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}


/* Bem burro o jeito, depois ver melhor */


#main > #id_lattes{
    grid-area: text;
    font-size: 2vh;
    margin-top: 6vh;
    font-family: Arial, Helvetica, sans-serif;
}

#main > #atualizacao_lattes{
    grid-area: text;
    font-size: 2vh;
    margin-top: 9vh;
    font-family: Arial, Helvetica, sans-serif;
}

#main > #publicacao_lattes{
    grid-area: text;
    font-size: 2vh;
    margin-top: 12vh;
    font-family: Arial, Helvetica, sans-serif;
}

#main > #resumo {
    grid-area: resumo;
    font-size: 1.5vh;
    margin-left: 2vh;
}

#main > #resumo > a {
    grid-area: resumo;
    font-size: 2vh;
}




footer {
    background-color: rgb(247, 232, 232);
    grid-area: footer;
    text-align: center;
}


