<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Currículo Lattes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="{{ url_for('static', filename='AddCurriculo.css') }}">
    <script src="{{ url_for('static', filename='AddCurriculo.js') }}"></script>
</head>
<body>

    <header>
        <h1> Altere seus Dados abaixo: </h1> 
    <header>

    <div class="container">
        
        <!-- Abre uma abra extra para fazer o cadastro, muito pica -->
        <div  id="add_curso"  style="width: 554.92px; height: 550px; background-color: #2f3034; color: white; display: none; position: 
        fixed; left: 65vh; border-radius: 2rem; border: 0.2rem solid white">
            <div id="cadastro_de_curso" style="padding: 1rem;" method="post">
                <h3 style="text-align: center;">Adicionar Curso</h3>

                <p id="subtitles"> Nome do Curso: </p>
                <label>&RightArrow;</label>
                <input id="nome_curso" name="nome_curso"></input> <br></br>
            
                <p id="subtitles"> Descrição do Curso: </p>
                <label>&RightArrow;</label>
                <input id="descricao_curso" name="descricao_curso"></input> <br></br>
            
                <p id="subtitles"> Carga Horaria do Curso: </p>
                <label>&RightArrow;</label>
                <input id="cargahoraria_curso" name="cargahoraria_curso"></input> <br></br>
                
                <p id="subtitles"> Instituição: </p>
                <label>&RightArrow;</label>
                <input id="instituicao_curso" name="instituicao_curso"></input> <br></br>

                <!--
                    <p id="subtitles"> Certificado do Curso: </p>
                <label>&RightArrow;</label>
                <input id="certificado_curso" name="certificado_curso"></input> <br></br>
                -->
                
                <button type="submit" onclick=AddCurso()> Enviar </button> 
                <button type="button" onclick="document.getElementById('add_curso').style.display='none' "> Sair </button>
            </div>
        </div>

        <div  id="add_projeto_andamento"  style="width: 554.92px; height: 550px; background-color: #2f3034; color: white; display: none; position: 
        fixed; left: 65vh; border-radius: 2rem; border: 0.2rem solid white">
            <div id="cadastro_de_projeto" style="padding: 1rem;" method="POST">
                <h3 style="text-align: center;">Adicionar projeto</h3>

                <p id="subtitles"> Nome: </p>
                <label>&RightArrow;</label>
                <input id="nome_projeto_andamento" name="nome_projeto"></input> <br></br>
                
                <p id="subtitles"> Descrição: </p>
                <label>&RightArrow;</label>
                <input id="descricao_projeto_andamento" name="descricao_projeto"></input> <br></br>
                
                <p id="subtitles"> Carga Horaria: </p>
                <label>&RightArrow;</label>
                <input id="cargahoraria_Projeto_andamento" name="cargahoraria_Projeto"></input> <br></br>
                
                <!-- 
                    - Tenta colocar os bgl de data na mesma linha
                    - Alterar o tipo de input deles para data
                -->

                <p id="subtitles"> Data Inicio: </p>
                <label>&RightArrow;</label>
                <input type="date" id="datainicio_Projeto_andamento" name="datainicio_Projeto"></input> <br></br>

                <button type="submit" onclick=AddProjectOnGoing()> Enviar </button> 
                <button type="button" onclick="document.getElementById('add_projeto_andamento').style.display='none' "> Sair </button>
            </div>
        </div>

        <div  id="add_projeto_finalizado"  style="width: 554.92px; height: 550px; background-color: #2f3034; color: white; display: none; position: 
        fixed; left: 65vh; border-radius: 2rem; border: 0.2rem solid white">
            <div id="cadastro_de_projeto" style="padding: 1rem;" method="POST">
                <h3 style="text-align: center;">Adicionar projeto Finalizado</h3>

                <p id="subtitles"> Nome: </p>
                <label>&RightArrow;</label>
                <input id="nome_projeto_concluido" name="nome_projeto"></input> <br></br>
                
                <p id="subtitles"> Descrição: </p>
                <label>&RightArrow;</label>
                <input id="descricao_projeto_concluido" name="descricao_projeto"></input> <br></br>
                
                <p id="subtitles"> Carga Horaria: </p>
                <label>&RightArrow;</label>
                <input id="cargahoraria_Projeto_concluido" name="cargahoraria_Projeto"></input> <br></br>
                
                <!-- 
                    Copiei o Código de cima e alterei algumas coisas, não tenho certeza se era necessário, mas é funcional.
                -->

                <p id="subtitles"> Data Inicio: </p>
                <label>&RightArrow;</label>
                <input input type="date" id="datainicio_Projeto_concluido" name="datainicio_Projeto"></input> <br></br>

                <p id="subtitles"> Data Fim: </p>
                <label>&RightArrow;</label>
                <input input type="date" id="datafim_Projeto_concluido" name="datafim_Projeto"></input> <br></br>

                <button type="submit" onclick=AddProjectComplete()> Enviar </button> 
                <button type="button" onclick="document.getElementById('add_projeto_finalizado').style.display='none' "> Sair </button>
            </div>
        </div>

        <div id ="main">
            <form method="post">
                <div id = "dados_gerais">
                    <h2> Dados Gerais</h2>
                    <div id="Nome">
                        <p id="subtitles"> Nome: </p>
                        <label>&RightArrow;</label>
                        <input type="text" id="nome_input" name="nome" placeholder="Nome">
                    </div>
        
                    <div id="CPF">
                        <p id="subtitles"> CPF: </p>
                        <label>&RightArrow;</label>
                        <input type="text" id="cpf_input" name="CPF" placeholder="CPF">
                    </div>
        
                    <div id="Telefone">
                        <p id="subtitles"> Telefone:</p>
                        <label>&RightArrow;</label>
                        <input type="text" id="telefone_input" name="telefone" placeholder="Telefone">
                    </div>
        
                    <div id="Email">
                        <p id="subtitles"> E-mail: </p>
                        <label>&RightArrow;</label>
                        <input type="text" id="email_input" name="email" placeholder="Email">
                    </div>
        
                    <div id="Resumo">
                        <p id="subtitles"> Resumo: </p>
                        <label>&RightArrow;</label>
                        <input type="text" id="resumo_input" name="resumo" placeholder= "Digite algo sobre você: ">
                    </div>
                </div>

                <h2> Formação Acadêmica </h2>
                <div id = "formacao_profissional">

                    <div id="nivel_ensino">
                        <p id="subtitles"> Nível de Ensino: </p>
                        <label>&RightArrow;</label>
                        <select name="formacao" id ="formacao_prof" value="Ensino Médio Incompleto">
                            {% for nivel in form_variaveis['niveis_ensino'] %}
                            <option value="{{ nivel[0] }} - {{ nivel[1] }}" >{{ nivel[0] }} - {{ nivel[1] }}</option>
                            {% endfor %}                      
                        </select>
                    </div>
                    <div id ="cursos">
                        <p id="subtitles"> Cursos: </p>
                        <label>&RightArrow;</label>
                        <button type="button" placeholder="Adicionar Curso" id="create_curso" onclick="document.getElementById('add_curso').style.display='block' "> Adicionar Curso </button>
                    </div>

                    <input type="text" name="text_cursos" id="text_cursos" hidden>

                    <div id="complemento">
                        <p id="subtitles"> Complemento: </p>
                        <textarea name="complemento_textarea" id="complemento_textarea" rows="5" cols="50" placeholder="Informações Adicionais"></textarea>
                    </div>
                </div>   

                <h2> Projetos </h2>
                <div id = "projetos">
                    <div id="projetos_andamento">
                        <p id="subtitles"> Projetos em Andamento </p>
                        <label>&RightArrow;</label>
                        <button type="button" placeholder="Adicionar Projeto em Andamento" id="create_projeto_andamento" onclick="document.getElementById('add_projeto_andamento').style.display='block' "> Adicionar Projeto em Andamento </button>
                    </div>

                    <input type="text" name="text_projetosandamento" id="text_projetosandamento" hidden>
                    
                    <div id="projetos_finalizados">
                        <p id="subtitles"> Projetos Finalizados</p>
                        <label>&RightArrow;</label>
                        <button type="button" placeholder="Adicionar Projeto Finalizado" id="create_projeto_finalizado" onclick="document.getElementById('add_projeto_finalizado').style.display='block' "> Adicionar Projeto Finalizado </button>

                        <!-- PRECISA ADICIONAR UM BOTÃO PARA COLOCAR UM PROJETO FINALIZADO. Ou deixar apenas um botão e caso o usuarioa inserir a data de fim ele será considerado finalizado -->
                        <!-- Colocar os "projetos_andamento" que já foram finalizados aqui. Se puder fazer u mfor e colocar esse ícone, HUMILDE: <label>&RightArrow;</label>  -->
                    </div>

                    <input type="text" name="text_projetosfinalizados" id="text_projetosfinalizados" hidden>
                
                </div>

                <h2> Atuação </h2>
                <div id = "atuacao">

                    <div id="area_atuacao">
                        <p id="subtitles"> Área atual de atuação </p>
                        <label>&RightArrow;</label>
                        <select name="area_atuacao_select" id ="area_atuacao_select" value="Valorant">
                            {% for area in form_variaveis['areas_atuacao'] %}
                            <option value="{{ area[1] }}" > {{ area[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
        
                    <div id="emprego_atual">
                        <p id="subtitles"> Emprego Atual</p>
                        <label>&RightArrow;</label>
                        <input type="text" name="emprego_input" id="emprego_input" placeholder="Digite o Emprego Atual">
                    </div>

                    <!-- Adiconar outro input aqui e em seguida listar o empregos abaixo do input -->
                    
                    <div id="empregos_anteriores">
                        <p id="subtitles"> Empregos Anteriores</p>
                        <label>&RightArrow;</label>
                        <input type="text" name="emprego_anterior_input" id="emprego_anterior_input" placeholder="Digite Empregos Anteriores: " >
                        <!-- Colocar os "empregos_atuais" que já foram finalizados aqui. Se puder fazer u mfor e colocar esse ícone, HUMILDE: <label>&RightArrow;</label>  -->
                    </div>

                </div>
                <br><br>
                <div id="send_form_button">
                    <button type="submit" id="Send"> Enviar </button> 
                </div>
            </form>
        </div>
        <div id ="lado_esquerdo"></div>
        <div id ="lado_direito"></div>
    </div>
    <footer>

    </footer>
</body>
</html>