<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Atuação Profissional </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='atuacao_css.css'>
    <script src='latess.js'></script>
</head>
<body>
    <div class="container" >


        <div id="iconezin">
            <ion-icon name="arrow-redo-circle-outline" id="icone" onclick="window.location ='///C:/Users/User/Desktop/Lattes/lattes.html' " ></ion-icon>
        </div>


        <div id ="titulo">
            <h1> Atuação Profissional </h1>
        </div>

        <div id = "atuacao">

            <div id="area_atuacao">
                <h1>Área atual de atuação</h1>
                <br></br>
                <select name="area_atuacao_select" id ="area_atuacao_select" value="Valorant">
                    <option value="Ciências Exatas e da Terra" > Ciências Exatas e da Terra </option>
                    <option value="Veterinária"> Veterinária </option>
                    <option value="Biologia"> Biologia </option>
                    <option value="Valorant">  Valorant </option>
                    <input type="submit" value="Enviar" id="enviar"/>
                </select>
            </div>

            <div id="emprego_atual">
                <h1> Emprego Atual</h1>
                <form>
                    <input type="text" id="emprego_input" value="emprego_input">
                    <button type="submit" id="button_emprego"><ion-icon name="send-outline" id="icone"></ion-icon></ion-icon></button>
                </form>
            </div>

            <div id="trabalhos_anteriores">
                <h1> Trabalhos Anteriores</h1>
                <ul>
                    <li> AB1</li>
                    <li> AB2</li>
                    <li> AB3</li>
                    <li> AB4</li>
                    <li> AB5</li>
                </ul>
            </div>

        </div>

    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>