{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='Curriculo.css') }}">
{% endblock %}


{% block body %}
    <div id ="menu">
        <ul id = "menuzin">
            <li><a href="#profile"> Dados Gerais </a></li>
            {% if curriculo._formacao != None %} <li><a href="#formacao"> Formação </a></li> {% endif %}
            {% if curriculo._projetos != None %}<li><a href="#projetos"> Projetos </a></li> {% endif %}
            {% if curriculo._atuacao != None %}<li><a href="#atuacao"> Atuação </a></li> {% endif %}
        </ul>
    </div>

    <div class="container">
        <div id ="main">
            <div id="profile"> 
                <div id="alinhar">
                    <div id="div_imagem">
                        <img src = "{{ url_for('static', filename='users_images/foto.png') }}" width="175px" height="175px">
                    </div>
                    <div id="profile_div">
                        <h2 id ="nome_lattes"> {{ curriculo._nome }} </h2>
                        <p id = "id_lattes"> ID lettes: {{ curriculo._idcurriculo }} </p>
                        <p id = "atualizacao_lattes"> Última atualização: {{ curriculo._ultimaatualizacao }}</p>
                    </div>
                </div>
                
                <div id = "resumo">
                    <h2> Resumo </h2>
                    <p id = "resumo_texto"> {{ curriculo._resumo }} </p>
                </div>
            </div>

            {% if curriculo._formacao != None %}
            <h3 id="formacao">Formação</h3>
                <h4>Nível de formação:</h4>
                <p>{{ curriculo._formacao._ensino }}</p>
                {% if curriculo._formacao._cursos != None %}
                <h4>Curso:</h4>
                    <ul>
                        {% for curso in curriculo._formacao._cursos %}
                        <li>
                            <p>Curso: {{ curso._nome }} - {{ curso._cargahoraria }} horas.</p>
                            <p>{{ curso._descricao }}</p>
                            <p>by: {{ curso._instituicao }}</p>
                            <!--<p><a href="#"> detalhar </a></p>  TALVEZ SUBSTITUIR ISSO POR UM BOTÃO, OU TIRAR -->
                            
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if curriculo._formacao._complemento != None %}
                <h4>Informações complementares:</h4>
                <p>{{ curriculo._formacao._complemento }}</p>
                {% endif %}
            {% endif %}

            {% if curriculo._projetos != None %}
            <h3 id="projetos">Projetos</h3>
                {% if curriculo._projetos._projetosandamento != None %}
                <h4>Projetos em andamento: </h4>
                    <ul>
                        {% for projeto in curriculo._projetos._projetosandamento %}
                        <li>
                            <h4> {{ projeto._nome }} - {{ projeto._cargahoraria }} horas</h4>
                            <p>Coordenador: {{ projeto._coordenador }}</p>
                            <p> {{ projeto._descricao }} </p>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if curriculo._projetos._projetosterminados != None %}
                <h4>Projetos Finalizados: </h4>
                    <ul>
                        {% for projeto in curriculo._projetos._projetosterminados %}
                        <li>
                            <h4> {{ projeto._nome }} - {{ projeto._cargahoraria }} horas</h4>
                            <p>Coordenador: {{ projeto._coordenador }}</p>
                            <p> {{ projeto._descricao }} </p>
                            <p> Período: {{ projeto._datas['inicio'] }} a {{ projeto._datas['fim'] }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}

            {% if curriculo._atuacao != None %}
            <h3 id="atuacao">Atuação</h3>
                <h4>Area de Atução: </h4>
                <p>{{ curriculo._atuacao._area }}</p>
                <h4>Emprego Atual:</h4>
                <p>{{ curriculo._atuacao._empregoatual }}</p>
                <h4>Empregos Anteriores:</h4>
                <ol>
                    {% for emprego in curriculo._atuacao._empregosanteriores %}
                    <li> {{ emprego }} </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{% endblock %}