<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Dados Gerais </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='dados_gerais_css.css'>
    <script src='latess.js'></script>
</head>
<body>
    <div class ='container'>

        <div id="iconezin">
            <ion-icon name="arrow-redo-circle-outline" id="icone" onclick="window.location ='///C:/Users/User/Desktop/Lattes/lattes.html' " ></ion-icon>
        </div>

        <div id="titulo">
            <h1> Dados Gerais do Usuário: </h1>
        </div>
        

        <div id = "dados_gerais">

            <div id="Nome">
                <h1> Nome: </h1>
                <input type="text" id="nome_input" value="Nome"><br>
                <button type="submit" id="nome_button"><ion-icon name="arrow-redo-circle-outline" id="icone"></ion-icon></ion-icon></button>
            </div>

            <div id="CPF">
                <h1> CPF: </h1>
                <input type="text" id="cpf_input" value="CPF"><br>
                <button type="submit" id="cpf_button"><ion-icon name="arrow-redo-circle-outline" id="icone"></ion-icon></ion-icon></button>
            </div>

            <div id="Telefone">
                <h1> Telefone:</h1>
                <input type="text" id="telefone_input" value="Telefone"><br>
                <button type="submit" id="telefone_button"><ion-icon name="arrow-redo-circle-outline" id="icone"></ion-icon></ion-icon></button>
            </div>

            <div id="Email">
                <h1> E-mail: </h1>
                <input type="text" id="email_input" value="Email"><br>
                <button type="submit" id="cpf_button"><ion-icon name="arrow-redo-circle-outline" id="icone"></ion-icon></ion-icon></button>
            </div>

            <div id="Resumo">
                <h1> Resumo: </h1>
                <input type="text" id="resumo_input" value="Resumo"><br>
                <button type="submit" id="resumo_button"><ion-icon name="arrow-redo-circle-outline" id="icone"></ion-icon></ion-icon></button>
            </div>
                
        </div>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>