<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Formação </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='formacao_css.css'>
    <script src='latess.js'></script>
</head>
<body>
    
    <div class ='container'>

        <div id="iconezin">
            <ion-icon name="arrow-redo-circle-outline" id="icone" onclick="window.location ='///C:/Users/User/Desktop/Lattes/lattes.html' " ></ion-icon>
        </div>

        <div id="titulo">
            <h1>  Formação Acadêmica/Profissional: </h1>
        </div>
        

        <div id = "formacao_profissional">

            <div id="nivel_ensino">
                <h1> Nível de Ensino: </h1>
                <select name="formacao_prof" id ="formacao_prof" value="Ensino Médio Incompleto">
                    <option value="Ensino Fundamental Incompleto" > Ensino Fundamental Incompleto </option>
                    <option value="Ensino Fundamental Completo"> Ensino Fundamental Completo </option>
                    <option value="Ensino Médio Incompleto"> Ensino Médio Incompleto </option>
                    <option value="Ensino Médio Completo"> Ensino Médio Completo</option>
                    <option value="Ensino Superior Incompleto"> Ensino Superior Incompleto </option>
                    <option value="Ensino Superior Completo"> Ensino Superior Completo</option>
                    <option value="Graduação"> Graduação </option>
                    <option value="Pós-Graduação"> Pós-Graduação </option>
                    <option value="Doutorado"> Doutorado </option>
                    <input type="submit" value="Enviar" id="enviar"/>
                </select>
                <!-- Colocar o Nome Cadastrado e a possibilidade alterá-lo, i dont know as do this -->
            </div>

            
            <div id ="cursos">
                <h1> Cursos: </h1>
                <form>
                    <input type="text" id="cursos_input" value="Cursos"><br>
                    <button type="submit" id="button_cursos"><ion-icon name="search-outline" id="icone"></ion-icon></ion-icon></button>
                  </form>

            </div>

            <div id="complemento">
                <h1> Complemento: </h1>
                <textarea id="complemento_textarea" rows="1" cols="60"> Informações adicionais </textarea>
            </div>

        </div>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>