<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Currículo Lattes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='lattes.css') }}">
</head>
<body>
    <header>
        <img src ="logo.png" width="820px" height="85px">

            <div id ="Top_icon">
                <ion-icon name="help-outline"></ion-icon>
                <ion-icon name="arrow-redo-circle-outline" onclick="window.location ='///C:/Users/User/Desktop/Lattes/login.html' " ></ion-icon>
            </div>

    <header>

    <div class="container">
        <div id ="main">
            <img src = "{{ url_for('static', filename='users_images/foto.png') }}" width="175px" height="175px" id="foto_perfil">
            <h1 id ="nome_lattes"> {{ curriculo._nome }} </h1>
            <p id = "id_lattes"> ID lettes: {{ curriculo._idcurriculo }} </p>
            <p id = "atualizacao_lattes"> Última atualização: {{ curriculo._ultimaatualizacao }}</p>

            <div id = "resumo">
                <h2> Resumo </h2>
                <p id = "resumo_texto"> {{ curriculo._resumo }} </p>
            </div>
        </div>

        <div id ="menu">
            <ul id = "menuzin">

                <li><a href=""> Dados Gerais </a></li>
                <li><a href=""> Formação </a></li>
                <li><a href=""> Atuação </a></li>
                <li><a href=""> Projetos </a></li>

            </ul>
        </div>

        <div id ="lado_esquerdo"></div>
        <div id ="lado_direito"></div>
    </div>
    <footer>

    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>