<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Currículo Lattes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/lattes.css"></link>
</head>
<body>
    <header>
        <div id ="Top_icon">
            <ion-icon name="help-outline"></ion-icon>
            <a href="/adicionarcurriculo">
                <ion-icon name="arrow-redo-circle-outline"></ion-icon>
            </a>

        </div>
    <header>

    <div id ="menu">
        <ul id = "menuzin">
            <li><a href=""> Dados Gerais </a></li>
            {% if curriculo._formacao != None %} <li><a href=""> Formação </a></li> {% endif %}
            {% if curriculo._atuacao != None %}<li><a href=""> Atuação </a></li> {% endif %}
            {% if curriculo._projetos != None %}<li><a href=""> Projetos </a></li> {% endif %}
        </ul>
    </div>

    <div class="container">
        <div id ="main">
            <img src = "{{ url_for('static', filename='users_images/foto.png') }}" width="175px" height="175px" id="foto_perfil">
            <h2 id ="nome_lattes"> {{ curriculo._nome }} </h2>
            <p id = "id_lattes"> ID lettes: {{ curriculo._idcurriculo }} </p>
            <p id = "atualizacao_lattes"> Última atualização: {{ curriculo._ultimaatualizacao }}</p>

            <div id = "resumo">
                <h2> Resumo </h2>
                <p id = "resumo_texto"> {{ curriculo._resumo }} </p>
            </div>
        </div>

        {% if curriculo._formacao != None %}
        <h3>Formação</h3>
            <h4>Nível de formação:</h4>
            <p>{{ curriculo._formacao._ensino }}</p>
            {% if curriculo._formacao._cursos != None %}
            <h4>Curso:</h4>
                <ul>
                    {% for curso in curriculo._formacao._cursos %}
                    <li>
                        <p>Curso: {{ curso._nome }} - {{ curso._cargahoraria }} horas.</p>
                        <p>{{ curso._descricao }}</p>
                        <p><a href="#"> detalhar </a></p> <!-- TALVEZ SUBSTITUIR ISSO POR UM BOTÃO, OU TIRAR -->
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if curriculo._formacao._complemento != None %}
            <h4>Informações complementares:</h4>
            <p>{{ curriculo._formacao._complemento }}</p>
            {% endif %}
        {% endif %}
        {% if curriculo._projetos != None %}
        <h3>Projetos</h3>
            {% if curriculo._projetos._projetosandamento != None %}
            <h4>Projetos em andamento: </h4>
                <ul>
                    {% for projeto in curriculo._projetos._projetosandamento %}
                    <li>
                        <h4> {{ projeto._nome }} - {{ projeto._cargahoraria }} horas</h4>
                        <p> {{ projeto._descricao }} </p>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if curriculo._projetos._projetosterminados != None %}
            <h4>Projetos Finalizados: </h4>
                <ul>
                    {% for projeto in curriculo._projetos._projetosterminados %}
                    <li>
                        <h4> {{ projeto._nome }} - {{ projeto._cargahoraria }} horas</h4>
                        <p> {{ projeto._descricao }} </p>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        {% if curriculo._atuacao != None %}
        <h3>Atuação</h3>
            <h4>Area de Atução: </h4>
            <p>{{ curriculo._atuacao._area }}</p>
            <h4>Emprego Atual:</h4>
            <p>{{ curriculo._atuacao._empregoatual }}</p>
            <h4>Empregos Anteriores:</h4>
            <ul>
                {% for emprego in curriculo._atuacao._empregosanteriores %}
                <li> {{ emprego }} </li>
                {% endfor %}
            </ul>
        {% endif %}
            
    </div>
    <footer>

    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>